
#GEEKFORGEEKS {     
    background:gray;                                    
    margin-left: 70px; 
    font-weight: bold ; 
    float: left; 
    clear: left; 
    width: 100px; 
    text-align: left; 
    margin-right: 10px; 
    font-family:sans-serif,bold, Arial, Helvetica; 
    font-size:14px; 
} 
   
#div {  
    background:pink;
    box-sizing: border-box; 
    width: 110%; 
    border: 100px solid white; 
    float: left; 
    align-content: center; 
    align-items: center; 
} 
   
#form {                                         
    margin: 0 auto; 
    width: 600px; 
}
